*{
    font-family: 'Poppins', sans-serif;
}
body {
   
    background-color: #ededed;
}

img {
    float: left;
    padding-left: 50px;
    padding-right: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container_1 {
    position: relative;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
   
}

.navbar {
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-around;
    border-radius: 30px;
    box-shadow: 5px 4px #c7c7c7;
}

.navbar a {
    color: black;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 40px;
}
a.active {
   
    color: #4ad66d;
    font-weight: 600;
  }
 a:hover{
    color:#2dc653 ;
   
 }
 .footer-cont{
    display: grid;
    grid-template-columns: repeat(5,220px);
    background: #ffffff;
    bottom: 0;
    left:0;
    right:0;
   
}
.icons{
    display: flex;
}
 .icons a{
    color:rgb(255, 0, 0);
 }

 ul{
    list-style-type: none;
 }

 ul a{
    text-decoration: none;
 }
 li{
    color:#777777;
    font-size: small;
 }

 li:hover{
    color:#4ad66d;
 }

.fa-chevron-right{
    width:6px;
    height:10px;
    padding-right: 10px;
    color: #4ad66d;
    
}
.footer-img{
    width: 200px;
    height: 129px;
}
.footer-2 .copyright {
    background-color: #f1f0f2;
    padding: 10px;
    bottom: 0;
    right: 0;
    left:0;
    
}
.copy-cont{
    text-align: center;
}
